<div class="contenedor-padre">
  <mat-toolbar class="barra" color="primary">
    <mat-toolbar-row>
      <button (click)="cajon.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="tituloNav">
        Manual de Angular&nbsp;
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="contenido">
    <mat-sidenav style="min-width: 250px; background-color: rgb(230, 227, 227);" #cajon mode="side" opened>

      <mat-nav-list>
        <a routerLink="/" mat-list-item>Introducción</a>
        <a routerLink="/conceptos" mat-list-item>Conceptos Angular</a>
        <a mat-list-item href='#'>Ayuda</a>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content class="padding-10">
      
      
      <router-outlet></router-outlet>

      
      
      
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>