<div class="hijo">
    <table class="table border border-dark">
        <th colspan="4" style="text-align: center;">HIJO</th>
        <tr>
            <td><button type="button" class="btn btn-primary" (click)="suma()">+</button></td>
            <td><button class="btn btn-primary" (click)="resta()">-</button></td>
            <td><button class="btn btn-primary" (click)="multiplica()">*</button></td>
            <td><button class="btn btn-primary" (click)="divide()">/</button></td>
        </tr>
    </table>
</div>
